/* html {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; /* Optional: centers the body element itself */
  /* max-width: 1200px; */
}






