.searchBarView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 1;
  border-bottom: 1px solid #97979717;

  h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    margin-left: 5%;
    margin-right: 10%;

    .MyPart {
      color: #bb1e1e;
    }

    .NewsPart {
      color: #000;
    }
  }

  .searchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 1px 2px -1px #c8cad1;
    border-radius: 10px;
    padding: 0.5rem;
    width: 40vw;
    height: 3vw;
    justify-content: center;
    flex-shrink: 1;
    align-items: center;

    input {
      border-style: hidden;
      flex-basis: auto;
      flex-grow: 1;
      height: 90%;
      flex-shrink: 1;
      padding: 0 0.5rem;

      &:focus {
        outline: none;
      }
    }

    button {
      background: #bb1e1e;
      border-radius: 6px;
      font-size: 15px;
      line-height: 20px;
      height: 4vh;
      width: 5vw;
      flex-basis: auto;
      flex-shrink: 1;
      margin-left: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        background: #bb1e1ec6;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchBarView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'Inter V';
    // margin-top: -100px;

    h1,
    button {
      display: none;
    }

    .searchBar {
      background-color: '#FFFFFF';
      box-shadow: 0px 1px 2px -1px #c8cad1;
      border-radius: 10px;
      height: 48px;
      width: 343px;
      left: 0px;
      top: 0px;
    }
  }
}
