.searchBarView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 1;
  border-bottom: 1px solid #97979717;

  h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'InterV_bold';
    font-weight: 900;
    font-size: 2em;
    line-height: 1.2em;
    margin-left: 1.25em;
    margin-right: 2.5em;
    cursor: pointer;

    .MyPart {
      color: #bb1e1e;
    }

    .NewsPart {
      color: #000;
    }
  }

  .searchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 1px 2px -1px #c8cad1;
    border-radius: 1em;
    padding: 0.5em;
    width: 40vw;
    height: 2em;
    justify-content: center;
    flex-shrink: 1;
    align-items: center;

    input {
      border-style: hidden;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0 0.5em;
      font-family: 'InterV';

      &:focus {
        outline: none;
      }
    }

    button {
      background: #bb1e1e;
      border-radius: 0.6em;
      font-family: 'InterV_bold';
      font-size: 0.75em;
      line-height: 1.3em;
      height: 2em;
      width: 5em;
      flex-basis: auto;
      flex-shrink: 1;
      margin-left: 0.5em;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        background: #bb1e1ec6;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchBarView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'InterV';
    // margin-top: -100px;

    h1,
    button {
      display: none;
    }

    .searchBar {
      background-color: '#FFFFFF';
      box-shadow: 0px 1px 2px -1px #c8cad1;
      border-radius: 1em;
      height: 3em;
      width: 21.4375em;
      left: 0;
      top: 0;

      input {
        font-size: 0.875em;
      }
    }
  }
}
