@media screen and (max-width: 768px) {
  .articlesListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'InterV';
  }

  .newsSource {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-family: 'InterV_bold';
    /* identical to box height, or 125% */
    
    .selected {
      color: #bb1e1e;
      background-color: #bb1e1e1a;
      border-radius: 20px;
    }
    
    p {
      padding-right: 20px;
      padding-left: 20px;
    }

  }

  .articlesList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 100%;
  }
}
